{% extends 'base.html' %}

{% block content %}
    <strong><p>{{top_text}}</p></strong>
    <div>
        <pre><strong>{{text}}</strong></pre>
    </div>
    <div class="row">
        <div class="column">
            <img src="static/img/dolphin1.png"/>
        </div>
        <div class="column">
            <img src="static/img/turtle0.png"/>
        </div>
        <div class="column">
            <img src="static/img/large-narwhal-black.png"/>
        </div>
        <div class="column">
            <img src="static/img/Floral-Heart-Metamorphosis.png"/>
        </div>
        <div class="column">
            <br><br><br><br><br>
            <p><strong>I LOVE YOU &#9829 !!!!</strong></p>
            <p>~CB</p>
        </div>
    </div>
    <div>
        <pre><strong>{{text}}</strong></pre>
    </div>
    <footer>
        <a href="https://gitlab.com/cblacktech/kbd-webapp">GitLab Repo</a>
    </footer>
{% endblock content %}